<span>
    <pre>{{fullyEnteredBoards}} Boards have been fully scored...</pre>
</span>
<div>
    @if (size === "long") {
    <div>
        <button type="button" style="position:absolute; left:500px; font-size: 20px;" (click)="onClipButtonClick($event)">
            Copy
        </button>
    </div>
    <button id="travellersButton" type="button" (click)="toggler('travellers')">
        Travellers
    </button>
    <button id="pairVsPairButton" type="button" (click)="toggler('pairVsPair')">
        PairVsPair
    </button>
    }
    @if (fullyEnteredBoards !== 0) {
    <div class="report" #reportDiv>
        <shortsumm-table></shortsumm-table>
        @if (size === "long") {
        <br/>
        <travellers-table></travellers-table>
        <br/>
        <pairpair-table></pairpair-table>
        }
    </div>
    }
</div>
