<!-- the pair vs. pair chart -->
<div id="pairVsPair">
    <table class='pairtable'>
        <tr>
            <th colspan="2"></th>
            @for (pairnum of pairVsPairInfo[0]; track pairnum) {
            <th class="thpct">{{pairnum}}</th>
            }
        </tr>
        @for (dataRow of pairVsPairInfo.slice(1); track $index) {
        <tr>
            <td class="pairNumStr">{{dataRow[0]}}</td>
            <td class="names">{{dataRow[1]}}</td>
            @for (datStr of dataRow.slice(2); track $index) {
            <td class="tdpct">{{datStr}}</td>
            }
        </tr>
        }
    </table>
</div>
