.px30 {
    font-size:30px;
}
.px20 {
    font-size:20px;
    margin: 10px;
}
button.px20 {
    margin:20px;
}
button.px30 {
    width: 40rem;
    text-align: left;
}
input.px20 {
    width: 20rem;
}
.error-msg-alert {
    color: red;
}
