<div>
    <br/>
    <br/>
    <div class="px20">
        Use right-click to swap pairs...
    </div>
    <br/>
    <br/>
    <ng-container *ngIf="!gameDataPtr.isHowell">
        <pre class="px20">
             NS                              EW
        </pre>
    </ng-container>            
    <ng-container  *ngFor="let pairnum of gameDataPtr.pairIdsNS">
        <div>
            <ng-container *ngIf="swapPairFirst===pairnum"> --> </ng-container>            
            <button id="{{'pair' + pairnum}}"
                    (click)="onNameButtonClick($event)"
                    (contextmenu)="onNameButtonRightClick($event)"
                    [attr.class]="swapPairFirst===pairnum ? 'px30 highlighted' : 'px30'"
            >
                {{pairnum}}&nbsp;&nbsp;{{pairNameStrArrayNS[pairnum-1]}}
            </button>
            <!-- second button if in Mitchell Mode -->
            <ng-container *ngIf="!gameDataPtr.isHowell">
                <ng-container *ngIf="swapPairFirst===-1*pairnum"> --> </ng-container>            
                <button id="{{'pair' + (-1*pairnum)}}"
                        (click)="onNameButtonClick($event)"
                        (contextmenu)="onNameButtonRightClick($event)"
                        [attr.class]="swapPairFirst===(-1*pairnum) ? 'px30 highlighted' : 'px30'"
                >
                    {{pairnum}}&nbsp;&nbsp;{{pairNameStrArrayEW[pairnum-1]}}
                </button>
                
            </ng-container>            
            
        </div>
    </ng-container>
</div>

<!--
     <button class="px20" (click)="onSwapPairsButtonClick($event)"> Swap Pairs </button>
-->
<dialog class="px20" #nameEntryDialog>
    <form [formGroup]="nameEntryForm" id="nameEntryForm">
        <p>
                {{ nameEntryDialogHeader }}
            </p>
            <pre>
      LAST                       FIRST
            </pre>
            1
            <input class="px20" type="text" id="lastName1" name="lastName1" formControlName="lastName1" list="nameCompleterList"
                   (focus)="onLastNameFocus($event)" (keyup.enter)="onEnterKey($event)" autocomplete="off">
            <input class="px20" type="text" id="firstName1" name="firstName1" formControlName="firstName1" list="nameCompleterList"
                   (focus)="onFirstNameFocus($event)" (keyup.enter)="onEnterKey($event)" autocomplete="off">
            <br/>
            2
            <input class="px20" type="text" id="lastName2" name="lastName2" formControlName="lastName2" e list="nameCompleterList"
                   (focus)="onLastNameFocus($event)" (keyup.enter)="onEnterKey($event)" autocomplete="off" >
            <input class="px20" type="text" id="firstName2" name="firstName2" formControlName="firstName2" list="nameCompleterList"
                   (focus)="onFirstNameFocus($event)"  (keyup.enter)="onEnterKey($event)" autocomplete="off">
            
            <datalist id="nameCompleterList">
                <option *ngFor="let item of nameCompletion" [value]="item">{{item}}</option>
            </datalist>

            <div *ngFor="let msg of formErrorMsgAry" class="error-msg-alert">
                {{msg}}
            </div>
            <p>
                <button type="button" form="nameEntryForm" class="px30"   (click)="onNameEntryFormSubmit()"> Submit </button>
            </p>
        </form>
    </dialog>

