<div>
    <ng-container  *ngFor="let pairnum of pairNumArray">
        <div>
            <button id="{{'name' + pairnum}}" class="px30" (click)="onNameButtonClick($event)">
                {{pairnum}}&nbsp;&nbsp;&nbsp;&nbsp;{{pairNameStrArray[pairnum-1]}}
            </button>
        </div>
    </ng-container>
    
    <dialog class="px20" #nameEntryDialog>
    <section>
        <p>
            {{ nameEntryDialogHeader }}
        </p>
        <pre>
      LAST                       FIRST
        </pre>
        1
        <input class="px20" type="text" id="lastName1" name="last1" list="nameCompleterList" #lastName1
               (keyup)="onLastNameInputKeyUp($event)" (focus)="onLastNameFocus($event)" autocomplete="off"
        />
        <input class="px20" type="text" id="firstName1" name="first1" list="nameCompleterList" #firstName1
               (keyup)="onFirstNameInputKeyUp($event)" (focus)="onFirstNameFocus($event)" autocomplete="off">
        <br/>
        2
        <input class="px20" type="text" id="lastName2" name="last2" list="nameCompleterList" #lastName2
               (keyup)="onLastNameInputKeyUp($event)" (focus)="onLastNameFocus($event)" autocomplete="off"
        />
        <input class="px20" type="text" id="firstName2" name="first2" list="nameCompleterList" #firstName2
               (keyup)="onFirstNameInputKeyUp($event)" (focus)="onFirstNameFocus($event)" autocomplete="off">

        <datalist id="nameCompleterList">
            <option *ngFor="let item of nameCompletion" [value]="item">{{item}}</option>
        </datalist>
        <p>
            <button class="px30" id="dialogOK" #dialogOK (click)="onDialogOKClick($event)"> OK </button>
        </p>
    </section>
</dialog>
