<div>
    <br/>
    <br/>
    <div class="px20">
        {{swapPairMsg}}
    </div>
    <br/>
    <br/>
    @if (!gameDataPtr.isHowell) {
        <pre class="px20">
             NS                              EW
        </pre>
    
    }            
    <!-- a row has one button in Howell mode, 2 in Mitchell lmode -->
    @for (rowArray of pairNameStrArray; track rowArray) {
        <div >
        @for (obj of rowArray; track obj) {
            <button id="{{'pair' + obj.pairnum}}"
                    (click)="onNameButtonClick($event)"
                    (contextmenu)="onNameButtonRightClick($event)"
                    [attr.class]="swapPairFirst===obj.pairnum ? 'px30 highlighted' : 'px30'"
            >
                {{absPairnum(obj.pairnum)}}&nbsp;&nbsp;{{obj.nameStr}}
            </button>
        }
        </div>
    }
</div>

<dialog class="px20" #nameEntryDialog>
    <form [formGroup]="nameEntryForm" id="nameEntryForm">
        <p>
            {{ nameEntryDialogHeader }}
        </p>
        <pre>
      LAST                       FIRST
        </pre>
        1
        <input class="px20" type="text" id="lastName1" name="lastName1" formControlName="lastName1" list="nameCompleterList"
               (focus)="onLastNameFocus($event)" (keyup.enter)="onEnterKey($event)" autocomplete="off">
        <input class="px20" type="text" id="firstName1" name="firstName1" formControlName="firstName1" list="nameCompleterList"
               (focus)="onFirstNameFocus($event)" (keyup.enter)="onEnterKey($event)" autocomplete="off">
        <br/>
        2
        <input class="px20" type="text" id="lastName2" name="lastName2" formControlName="lastName2" e list="nameCompleterList"
               (focus)="onLastNameFocus($event)" (keyup.enter)="onEnterKey($event)" autocomplete="off" >
        <input class="px20" type="text" id="firstName2" name="firstName2" formControlName="firstName2" list="nameCompleterList"
               (focus)="onFirstNameFocus($event)"  (keyup.enter)="onEnterKey($event)" autocomplete="off">
        
        <datalist id="nameCompleterList">
            @for (item of nameCompletion; track item) {
            <option [value]="item">{{item}}</option>
            }
        </datalist>
        
        @for (msg of formErrorMsgAry; track msg) {
        <div class="error-msg-alert">
            {{msg}}
        </div>
        }
        <p>
            <button type="button" form="nameEntryForm" class="px30"   (click)="onNameEntryFormSubmit()"> Submit </button>
        </p>
    </form>
</dialog>

