
<dialog class="px20" #deleteDialog >
    <form [formGroup]="deleteForm" (ngSubmit)="onDeleteFormSubmit()" >
        <section *ngFor="let name of nameList">
            <input type="checkbox" id={{name}} name={{name}} formControlName={{name}} value=1 (change)="onCheckChanged($event)">
            <label for={{name}}> {{name}}</label>
            <br/>
        </section>
        <div>
            <button type="submit" style="margin-top:2rem"> {{deleteButtonMsg}} </button>
        </div>
    </form>
</dialog>

