<nav>
    <a routerLink="/setup/new" routerLinkActive="active" ariaCurrentWhenActive="page">New</a>
    <ng-container *ngIf="existingGameList.length > 0">
        <a routerLink="/setup/load" routerLinkActive="active" ariaCurrentWhenActive="page">Load</a>
        <a routerLink="/setup/delete" routerLinkActive="active" ariaCurrentWhenActive="page">Delete</a>
    </ng-container>
    <hr/>
    <router-outlet></router-outlet>
</nav>

<dialog class="px20" #newGameDialog>
    <form [formGroup]="newGameForm" (ngSubmit)="onNewGameFormSubmit()">
        <div class="dialog-div">
            <label for="gameName"> Game FileName </label>
            <input type="text" id="gameName" name="gameName" formControlName="gameName" >
        </div>
        <div class="dialog-div">
            <label for="movement"> Movement:  </label>
            <select type="text" id="movement" name="movement" formControlName="movement" >
                <option *ngFor="let mov of _movInfo.getMovInfoKeys()"
                        [value]="mov">
                    {{_movInfo.getDesc(mov)}}
                </option>
            </select>
        </div>
        <ng-container *ngIf="totBoardsArray.length > 0">
            <div class="dialog-div">
                <label for="totBoards"> Total Boards:  </label>
                <select type="text" id="totBoards" name="totBoards" formControlName="totBoards"  >
                    <option *ngFor="let tot of totBoardsArray"
                            [value]="tot">
                        {{tot}}
                    </option>
                </select>
            </div>
            <div class="dialog-div">
                <label for="phantomPair"> Phantom Pair?:  </label>
                <select type="text" id="phantomPair" name="phantomPair" formControlName="phantomPair"  >
                    <option *ngFor="let phantPairNum of phantomPairArray"
                            [value]="phantPairNum">
                        {{gameDataPtr.pairnumToString(phantPairNum)}}
                    </option>
                </select>
            </div>
        </ng-container>

        <div>
            <button type="submit" style="margin-top:2rem"> Submit </button>
        </div>
    </form>
</dialog>

<dialog class="px20" #loadGameDialog>
    <form [formGroup]="loadGameForm" (ngSubmit)="onLoadGameFormSubmit()">
        <select type="text" id="loadGameName" name="loadGameName" formControlName="loadGameName"  >
            <option *ngFor="let name of existingGameList"
                    [value]="name">
                {{name}}
            </option>
        </select>
        <div>
            <button type="submit" style="margin-top:2rem"> Submit </button>
        </div>
    </form>
</dialog>

<app-deleter-dialog #deleterDialogComponent
                    (formCompleteEvent)="onDeleteGameFormCompleted($event)"
>
</app-deleter-dialog>
<!--
     [nameList] = "paramExistingGameList"
     nameKind = "Game"
-->
