.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 0px; 
    border: none;
    width: 250px;
    min-height: 35px;
} 
.grid-child-element { 
    margin: 0px; 
    border: 1px solid;
    align: right;
    text-align: right;
    font-size: 30px;
                
}
