<div class="navbar">
    @for (menuobj of menuLayout; track menuobj; let mainidx = $index) {
        @if (!menuobj.needsGame || gameDataPtr.gameDataSetup) {
            @if (menuobj.sub === undefined) {
                <a  routerLink="{{menuobj.path}}"
                    routerLinkActive="active" ariaCurrentWhenActive="page"
                    id="{{mainidx}}"
                    (click)="onLinkClick($event)"
                >
                    {{menuobj.text}}
                </a>
            } @else {
                <div class="subnav">
                    <button class="subnavbtn"
                            (mouseover)="onButtonMouseOver($event)"
                    >
                        {{menuobj.text}}&#9660;
                    </button>
                    <div class="subnav-content">
                        @for (submenuobj of menuobj.sub; track submenuobj; let subidx = $index) {
                        <a
                            routerLink="{{submenuobj.path}}"
                            routerLinkActive="active" ariaCurrentWhenActive="page"
                            (click)="onSubLinkClick($event)"
                            id="{{mainidx}}-{{subidx}}"
                        >
                            {{submenuobj.text}}
                        </a>
                        }
                    </div>
                </div>    
            }
        }
    }
    <span style="float:right">Version 1.18</span>
    <!-- <hr/> -->
</div>
<router-outlet></router-outlet>
