<nav>
    <a routerLink="/setup" routerLinkActive="active" ariaCurrentWhenActive="page">Game</a>
    <ng-container *ngIf="gameDataPtr.gameDataSetup">
        <a routerLink="/status" routerLinkActive="active" ariaCurrentWhenActive="page">Status</a>
        <a routerLink="/names" routerLinkActive="active" ariaCurrentWhenActive="page">Names</a>
        <a routerLink="/score" routerLinkActive="active" ariaCurrentWhenActive="page">Scores</a>
        <a routerLink="/report/short" routerLinkActive="active" ariaCurrentWhenActive="page">Summary</a>
        <a routerLink="/report/long" routerLinkActive="active" ariaCurrentWhenActive="page">Report</a>
    </ng-container>
    <hr/>
</nav>
<router-outlet></router-outlet>
