/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a, .navbar span {
  float: left;
  font-size: 20px;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a grey background color to navigation links on hover */
.navbar a:hover {
  background-color: #eee;
  color: black;
}
.navbar .highlight {
  background-color: #eee;
  color: black;
}

/* purple for subnav hover */
.subnav:hover .subnavbtn {
  background-color: purple;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: relative;
  left: 0;
  background-color: purple;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}

.subnavbtn.highlight + .subnav-content {
    display: block;
}
