<!-- pick a nice looking monospace font -->
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Courier+Prime">
</head>
<div>
    <!-- <div>012345678901234567890123456789</div> -->

    <ng-container  *ngFor="let viewline of viewLines">
        <ng-container *ngIf="viewline.substring(0,1) === '=' else Normal">
            <div> <span class="inverse">==></span>{{viewline.substring(3)}}
            </div>
        </ng-container>
        <ng-template #Normal>
            <div>{{viewline}}</div>
        </ng-template>
    </ng-container>
    <ng-container *ngIf="isEntryComponent()">
        <div>
        {{inputLine}}<input autofocus #scoreInput id="scoreInput" (keyup)="onScoreEntryInputKeyUp($event)" size="5" autocomplete="off">
        </div>
    </ng-container>
</div>

<dialog class="px20" #gotoBoardDialog>
    <form [formGroup]="gotoBoardForm" id="gotoBoardForm" (submit)="onGoToBoardFormSubmit()">
        <ng-container *ngIf="isEntryComponent()">
            <p> Boards Remaining </p>
            <p> {{boardsToDoMsg}} </p>
        </ng-container>
        <p>
            <label for="boardSelect"> GoTo Board: </label>
            <input class="px20" type="text" id="boardSelect" name="boardSelect" formControlName="boardSelect" autocomplete="off">
        </p>
        <ng-container *ngIf="boardSelectErrMsg.length > 0">
            <div class="error-msg-alert">
                {{boardSelectErrMsg}}
            </div>
        </ng-container>
        <button type="submit" class="px20"> Submit </button>
    </form>
</dialog>

<dialog class="px20" #unbalancedSpecialDialog>
    <form [formGroup]="unbalancedSpecialForm" id="unbalancedSpecialForm" (submit)="unbalancedSpecialFormSubmit()">
        <p>
            Enter Special Scores:
        </p>
        <p>
            <label for="specialNS"> {{unbalancedSpecialNSPrompt}} </label>
            <input class="px20" type="text" id="specialNS" name="specialNS" formControlName="specialNS" autocomplete="off">
        </p>
        <p>
            <label for="specialEW"> {{unbalancedSpecialEWPrompt}} </label>
            <input class="px20" type="text" id="specialEW" name="specialEW" formControlName="specialEW" autocomplete="off">
        </p>
        <ng-container *ngIf="unbalancedSpecialErrMsg.length > 0">
            <div class="error-msg-alert">
                {{unbalancedSpecialErrMsg}}
            </div>
        </ng-container>
        <button type="submit" class="px20"> Submit </button>
    </form>
</dialog>
