<!-- pick a nice looking monospace font -->
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Courier+Prime">
</head>
<div>
    <!-- <div>012345678901234567890123456789</div> -->

    @for (viewline of viewLines; track $index; let idx = $index) {
        @if (viewline.substring(0,1) === '=') {
        <div>
            <span class="inverse">==></span>
            <app-suit-colorizer [inputStr] = "viewline.substring(3)" [colorizeBlack] = "false"  [useBreak] = "true"></app-suit-colorizer>
        </div>
        } @else {
        <app-suit-colorizer [inputStr] = "viewLines[idx]" [colorizeBlack] = "false"  [useBreak] = "true"></app-suit-colorizer>
        }
    }
    @if (isEntryComponent()) {
        <div>
        {{inputLine}}<input autofocus #scoreInput id="scoreInput" (keyup)="onScoreEntryInputKeyUp($event)" size="5" autocomplete="off">
        </div>
    }
</div>

<dialog class="px20" #gotoBoardDialog tabindex="-1x">
    <form [formGroup]="gotoBoardForm" id="gotoBoardForm" (submit)="onGoToBoardFormSubmit()" (cancel)="onGoToBoardFormCancel()" (keydown.escape)="onGoToBoardFormCancel()">
        @if (isEntryComponent()) {
            <p> Boards Remaining </p>
            <p> {{boardsToDoMsg}} </p>
        }
        <p>
            <label for="boardSelect"> GoTo Board: </label>
            <input class="px20" type="text" autofocus id="boardSelect" name="boardSelect" formControlName="boardSelect" #boardSelect autocomplete="off">
        </p>
        @if (boardSelectErrMsg.length > 0) {
            <div class="error-msg-alert">
                {{boardSelectErrMsg}}
            </div>
        }
        <button type="submit" class="px20"> Submit </button>
    </form>
</dialog>

<dialog class="px20" #unbalancedSpecialDialog>
    <form [formGroup]="unbalancedSpecialForm" id="unbalancedSpecialForm" (submit)="unbalancedSpecialFormSubmit()">
        <p>
            Enter Special Scores:
        </p>
        <p>
            <label for="specialNS"> {{unbalancedSpecialNSPrompt}} </label>
            <input class="px20" type="text" id="specialNS" name="specialNS" formControlName="specialNS" autocomplete="off">
        </p>
        <p>
            <label for="specialEW"> {{unbalancedSpecialEWPrompt}} </label>
            <input class="px20" type="text" id="specialEW" name="specialEW" formControlName="specialEW" autocomplete="off">
        </p>
        @if (unbalancedSpecialErrMsg.length > 0) {
            <div class="error-msg-alert">
                {{unbalancedSpecialErrMsg}}
            </div>
        }
        <button type="submit" class="px20"> Submit </button>
    </form>
</dialog>
