<!-- pick a nice looking monospace font -->
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Courier+Prime">
</head>
<div>
    <!-- <div>012345678901234567890123456789</div> -->

    <ng-container  *ngFor="let viewline of viewLines">
        <ng-container *ngIf="viewline.substring(0,1) === '=' else Normal">
            <div> <span class="inverse">==></span>{{viewline.substring(3)}}
            </div>
        </ng-container>
        <ng-template #Normal>
            <div>{{viewline}}</div>
        </ng-template>
    </ng-container>
    <div>{{inputLine}}<input autofocus (keyup)="onInputKeyUp($event)" size="5"></div>
</div>

<dialog class="px20" #gotoBoardDialog>
    <p> Boards Remaining </p>
    <p> {{boardsToDoMsg}} </p>
    <p>
        <label for="boardSelect"> GoTo Board: </label>
        <input class="px20" id="boardSelect" #boardSelect>

            <!--
                 <select class="px20" id="boardSelect" #boardSelect>
                 <ng-container  *ngFor="let boardnum of boardsToDoList">
                 <option value = {{boardnum}}> {{boardnum}} </option>
                 </ng-container>
                 </select>
            -->
        <button class="px20" autofocus (click)="closeGoToBoardDialog()">
            OK
        </button>
    </p>
</dialog>
