div {
    font-family: 'Courier Prime', monospace;
    font-size:    30px;
    white-space:  pre-wrap;
    color:        white;
    background:   blue
}

input {
    font-size:30px;
}

.px20 {
    font-size:20px;
}
button.px20 {
    margin:20px;
}
input.px20 {
    width: 60px;
}

.inverse {
    color:black;
    background:white
}
